<div class="wrapper footerlinks">
  <div class="grid w2">
    <div class="w4">
        <a href="/" class="footer-logo"><img src="/assets/logo.white.svg" alt=""></a>
        <br>
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
    <div>
      <h3>Cryptography</h3>
      <ul>
        <li><a href="https://datatracker.ietf.org/doc/draft-irtf-cfrg-xmss-hash-based-signatures/">XMSS</a></li>
        <li><a href="https://huelsing.files.wordpress.com/2013/05/wotsspr.pdf">Winternitz OTS+</a></li>
        <li><a href="https://eprint.iacr.org/2017/634.pdf">Kyber</a></li>
        <li><a href="https://cryptojedi.org/papers/dilithium-20170627.pdf">Dilithium</a></li>
      </ul>      
    </div>
    <div>
      <h3>Whitepaper</h3>
      <ul>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_whitepaper.pdf">English</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_Russian.pdf">Russian</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_whitepaper_spanish_translation.pdf">Spanish</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_french_translation.pdf">French</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_Japanese.pdf">Japanese</a></li>
        <li><a href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_vietnamese_translation.pdf">Viatnamese</a></li>
      </ul>  
    </div>

    <div>
      <h3>Resources</h3>
      <ul>
        <li><a href="https://explorer.theqrl.org">Explorer</a></li>
        <li><a href="https://wallet.theqrl.org">Web Wallet</a></li>
        <li><a href="https://docs.theqrl.org">Documentation</a></li>
        <li><a href="https://github.com/theQRL/QRL/">Github</a></li>
      </ul>  
    </div>

    <div>
      <h3>Social</h3>
      <ul>
        <li><a href="https://www.medium.com/the-quantum-resistant-ledger/">Medium</a></li>
        <li><a href="https://twitter.com/qrledger">Twitter</a></li>
        <li><a href="https://www.reddit.com/r/qrl">Reddit</a></li>
        <li><a href="https://discord.gg/jBT6BEp">Discord</a></li>
      </ul>  
    </div>
  </div>
</div>