    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
  <div class="wrapper header">
    <div class="grid collapse">
      <div class="logo">
        <a href="/">
          <img src="/assets/logo-horizontal4b.svg" alt="">
        </a>
      </div>
      <div class="menu">
        <nav>
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul>
            <li class="dropdown"><a href="/">Wallet</a>
              <ul>
                <li><a href="/wallet/basics">Basics</a></li>
                <li><a href="/wallet/check-wallet-balance">Check Balance</a></li>
                <li><a href="/wallet/create-tokens">Create Tokens</a></li>
                <li><a href="/wallet/dice">Dice Mnemonic</a></li>
                <li><a href="/wallet/wallet-cli">Wallet CLI</a></li>
                <li><a href="/wallet/ledger-nano-s">Ledger Nano S</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="/">Mining</a>
              <ul>
                <li><a href="/mining/pool-mining">Pool Mining</a></li>
                <li><a href="/mining/mining">Quick Start</a></li>
                <li><a href="/mining/full-node">Full Node Mining</a></li>
                <li><a href="/mining/pool">Setup a QRL Pool</a></li>
                <li><a href="/wallet/slaves.json">Slaves.json</a></li>

              </ul>
            </li>
            <li class="dropdown"><a href="/">QRL Node</a>
              <ul>
                <li><a href="/node/QRLnode">Non-Mining node</a></li>
                <li><a href="/developers/ots">One Time Signatures</a></li>
                <li><a href="/node/testnetNode">TestNet Node</a></li>
                <li><a href="/node/configuration">Node Configuration</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="/">Developers</a>
              <ul>
                <li><a href="https://github.com/theqrl">GitHub</a></li>
                <li><a href="https://api.theqrl.org">API Docs</a></li>
                <li><a href="/developers/walletAPI">Wallet API</a></li>
                <li><a href="/developers/explorerAPI">Explorer API</a></li> 
                <li><a href="/developers/privateNetwork">Private Network</a></li>
                <li><a href="/developers/address">Address Format</a></li>
                <li><a href="/developers/BockExplorer">Block Explorer</a></li>
                <li><a href="/developers/QRLcoreLibrary">qrlib</a></li>
                <li><a href="/developers/QRLwallet-app">QRL Wallet</a></li>
                <li><a href="/developers/pyqryptonight">Qryptonight</a></li>
                <li><a href="/developers/integrationTests">Integration Tests</a></li>           
              </ul>
            </li>
          </ul>         
        </nav>
      </div>
      <div class="whitepaper">
        <nav>
          <ul>
            <li class="has-child"><a href="">QRL Network <svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg></a>
              <ul>
                <li><a href="https://theqrl.org">Main Website</a></li>
                <li><a href="https://explorer.theqrl.org">Explorer</a></li>
                <li><a href="https://wallet.theqrl.org">Web Wallet</a></li>
                <li><a href="https://api.theqrl.org">API Docs</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>