<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
	{% if page.title %}	
		{{ page.title }} -
	{% endif %} 
	{{ site.title }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500|Roboto:300,400,500" rel="stylesheet">
	<script src="//code.simplesvg.com/1/1.0.0-beta5/simple-svg.min.js"></script>
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> 	 -->
	<script src="/assets/main.js"></script>
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}" >

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-123414102-2', 'auto');
  ga('send', 'pageview');
</script>

</head>
