
QRL Address: <input type="text" id="address" placeholder="QRL Address">

<div id="pools"></div>

<script>
    function shuffle(a) {
      for (let i = a.length - 1; i > 0; i--) {
         const j = Math.floor(Math.random() * (i + 1));
         [a[i], a[j]] = [a[j], a[i]];
      }
      return a;
    }

    var pools = [];

    {% for pool in site.data.pools %}
    pools.push(
      {
        "name": "{{ pool.name }}",
        "hardfork": {{ pool.hardfork }},
        "testnet": {{ pool.testnet }},
        "poolurl": "{{ pool.poolurl }}",
        "poolconfig": "{{ pool.poolconfig }}",
        "blurb": "{{ pool.blurb }}"
      }
    );{% endfor %}

    var address = '[INSERT QRL ADDRESS HERE]';



    $('#address').on('keypress keyup', function(){
      $('.temp').remove();

      address = $(this).val();

      loadPools();
    });


    function loadPools() {
      for (let pool in pools) {
        poolfunction(pools[pool]);
      }
    }

    function poolfunction(pool) {
      $("#pools").append("<h3 class='temp'>"+pool.name+"</h3>");

      $("#pools").append("<p class='temp'><strong>Website</strong>: <a href='"+pool.address+"'>"+pool.address+"</a></p>");

      if(pool.poolconfig) {

        $("#pools").append("<p class='temp'><strong>Pool Configuration: </strong>: <a href='"+pool.poolconfig+"'>"+pool.poolconfig+"</a></p>");
      }
      $("#pools").append("<p class='temp'><strong>Upcoming hardfork support?</strong> "+pool.hardfork+"</p>");
      $("#pools").append("<p class='temp'><strong>Currently running testnet?</strong> "+pool.testnet+"</p>");        

      if(pool.blurb) {
        $("#pools").append("<p class='temp'><strong>Note from the pool: </strong>"+pool.blurb+"</p>");
      }

      if(pool.poolurl!==null) {
      var xmrig = `{\n\t"algo":"rx/0",\n\t"url":"${pool.poolurl}",\n\t"user":"${address}",\n\t"pass":"x",\n\t"keepalive":"true",\n\t"enabled":"true",\n\t"variant": -1,\n\t"tls": false,\n\t"tls-fingerprint": null\n}`;
      

      var xmrig_cmd = `-o ${pool.poolurl} -u "${address}" -k --algo "rx/0"`;
       $("#pools").append("<strong class='temp'>XMRIG config.json</strong><pre class='temp'>"+xmrig+"</pre>");
       $("#pools").append("<strong class='temp'>Windows</strong><pre class='temp'>xmrig.exe "+xmrig_cmd+"</pre>");
       $("#pools").append("<strong class='temp'>Linux</strong><pre class='temp'>./xmrig "+xmrig_cmd+"</pre>");
       $("#pools").append("<strong class='temp'>OSX</strong><pre class='temp'>./xmrig "+xmrig_cmd+"</pre>");
      } else {
        $("#pools").append("<strong class='temp'>There's currently no suggested pool configuration at this moment.</strong>");
      }
    }



    // Shuffle array
    shuffle(pools);

    loadPools();

    setTimeout((function() {
      if(window.location.hash) {
        window.location.hash = window.location.hash;
      }
    }), 100);
</script>

