body {
	font-weight: 300;
	font-family: $body_font;
	position:relative;
	background:
		url('/assets/particles/dots-topright.png') no-repeat top -20px right -10px;
}
.overflow {
	position:relative;
	// overflow-x:hidden;
}
.grid > div {
	padding:10px;
}
.header .grid {
	grid-template-columns: 180px 1fr min-content;
}
@include sm-max {
	.header .grid {
		grid-template-columns: 142px 1fr min-content;
	}	
}

.wrapper {
	@include lg {
		padding-top:20px;
		padding-bottom:20px;
	}
}
a {
	color:$quantum_sky;
	&:hover {
		color:$quantum_burst;
	}
}

img {
	max-width: 100%;
}

/* Elements */
// Call-to-action
a.cta {
	background-color:$quantum_burst;
	padding:10px 20px;
	color:#FFF;
	text-decoration: none;
	box-shadow: $shadow;
	display: inline-block;
	&:hover {
		background-color: $quantum_hover;
	}
}

.slideshow {
	img {
		box-shadow: $shadow;
	}
}
pre.highlight {
	overflow-x:auto;
}



.header-section {
	text-align: center;
			max-width: 600px;
			margin:0 auto;
			margin-bottom: 20px;
			margin-top:50px;

	h2 {
		color:#4A90E2;
		text-transform: uppercase;
		font-size:13px;
	}
	h3 {
		font-size:32px;
		margin:0 0 10px 0;
	}
	p {
		max-width: 600px;
		margin:0 auto;
		font-weight: 400;
	}
	.video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		width:100%;
		margin-top: 30px;

	}
	.video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: $shadow;
	}

}
nav a {
	padding:5px 10px;
	text-decoration: none;
	color:#000;
}


.wrapper.hero {
	text-align:center;



	h1 {
		font-weight: 300;
	}
	p {
		max-width: 400px;
		margin:0 auto;
		font-family: $heading_font;
	}
	.cta {
		margin-top: 20px;
	}
}



.grid.support {
	svg {
		fill: $quantum_burst;
		max-height: 120px;
	}
	div {
		text-align: center;
	}
	> div {
		padding:20px;
		border:1px solid #222;
		border-top: 3px solid $quantum_burst;
		background-color:rgba(255,255,255,0.8);
		box-shadow: $shadow;
		grid-column: span 12;

		@include sm {
			grid-column: span 12;
		}
		@include md {
			grid-column: span 6;			
		}
	}
}


.wrapper.intro {
	min-height: 300px;
	@include lg {
		background:
			#F3F3F3 url('/assets/particles/speechbubbles.w300.png') no-repeat calc(50% - 500px) 200px;
	}

	&:before {
		background-color:#F3F3F3;
		content:'';
		display: block;
		width:100%;
		height:150px;
		position: relative;
		top:-150px; margin-bottom: -420px; margin-top:300px;
		overflow: hidden;
		@include angle-edge($angle: 3, $angle-position-y: 'top', $angle-position-x: 'right');
		z-index: -1;

	}
	&:after {
		background-color:#F3F3F3;
		content:'';
		display: block;
		width:100%;
		height:100px;		
		margin-bottom: 100px;
		position: relative;
		top:100px; margin-top:-100px;
		@include angle-edge($angle: 2.5, $angle-position-y: 'bottom', $angle-position-x: 'left');		
	}
	// @include angle-edge($angle: 2.5, $angle-position-y: 'both', $angle-position-x: 'right', $angle-position-bottom-x: 'left', $angle-bottom:1.5);
	padding:0px 0;
	background-color:#F3F3F3;
}
.docs {
	.grid {
		max-width: 1140px;
	}


	table {
		border-collapse: collapse;
		border:1px solid $quantum_deep;
		border-top:2px solid $quantum_deep;
		font-size: 90%;
  width: fit-content;
  max-width: 100%;
    display: block;
      overflow-x: auto;


	}
	tbody tr:hover {
		background-color: #F3F3F3;
	}
	thead tr {
		background-color: $quantum_deep;
		color:#FFF;		
	}
	td, th {
		padding:5px;
	}
	.floatmenu {
		position:sticky;
		top:0;
		padding:20px;
		border:1px solid #222;
		border-top: 3px solid $quantum_burst;
		background-color:rgba(255,255,255,0.8);
		box-shadow: $shadow;
		max-height: 100vh;
		overflow-y:auto;



		.cta {
			width:100%;
			text-align: center;
		}
		nav ul {
			flex-direction:column;
		}
		.active {
			background-color:#EEE;
			a {
				border-left:2px solid $quantum_burst;
			}
		}
		a {
			transition:all 0.4s;
		}
		ul li {
			list-style:none;
		}
	}

	.document-page {
		// Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1418727
		min-width: -moz-available;
	}
	h2, h3 {
		a {
			text-decoration: none;
			color:#000;
			display: inline-block;
			position:relative;

			&:hover:before {
				display:block;
				content: url('https://icons.simplesvg.com/mdi-link-variant.svg?color=%23626262&height=18');
				vertical-align: -0.125em;
				height:18px; width:18px;
				position:absolute;
				right:-24px;
				top:-2px;

			}
			&:hover:before {
				content: url('https://icons.simplesvg.com/mdi-link-variant.svg?color=%23dc255d&height=18');				
			}
		}

	}
	@include md-max {
		.docgrid {
			grid-template-columns:1fr;
			> div:last-child {
				display:none;
			}
		}
	}
	blockquote {
		margin:12px 0; padding:5px 20px;
		border-left-width: 3px;
		border-left-style: solid;
		&.ytvideo {
			border:0;
			padding:0;
			margin-top:0;
		}
		p {

		}

		&.information, &.info {
			border-left-color: #4A90E2;
			background-color: adjust-color(#4A90E2, $lightness: 40%);

			p {
				color: #4A90E2;
			}
		}		
		&.warning {
			border-left-color: #8a6d3b;
			background-color: #faf2cc;

			p {
				color: #8a6d3b;
			}
		}		
		&.danger {
			border-left-color: $quantum_warning;
			background-color: adjust-color(#FF3E3E, $lightness: 37%);

			p {
				color: $quantum_warning;
				font-weight: 500;
				font-size: 20px;
				line-height: 28px;
			}
		}
	}

}
.grid.conference {
	background-color:#160529;
	color:#FFF;
	margin-bottom: 20px;
	box-shadow: $shadow;
	grid-template-columns: 1fr;

	@include md {
		grid-template-columns: 275px 1fr 175px;
	}

	> div:last-child {
		display: grid;
		align-items: center;
		text-align: center;

	}
	.cta {
		margin:0 auto;
		white-space: nowrap;
	}

	.image {
		text-align: center;
		background-color:#FFF;
		img {
			width:100%;
			max-width: 100%;
		}
	}
	h2 {
		color:#FFF;
		font-weight: 500;
		margin:0;
	}
	p {
		color:#FFF;
		margin:0;
		font-family: $heading_font;
		font-weight: 400;
	}
}


.events {
	padding-top:0;
	&:before {
		background-color:#F3F3F3;
		content:'';
		display: block;
		width:100%;
		height:130px; position:relative; top:-130px; margin-top:130px; margin-bottom: -130px;
		@include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'left');
	}
	background-color:#F3F3F3;

	.footer-conferences {
		@include lg {
			grid-column-gap: 3em;
		}


		.footer-conference {
			@include sm-max {
				grid-column: span 12;
			}
		}
	}

	.footer-conference {
		margin:10px;
		background-color:#FFF;
		box-shadow: $shadow;
		text-align: center;
		.image {
			min-height: 200px;
			position: relative;
		}
		img {
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			margin: auto;
			width:100%;
			max-width: 100%;
			// left:50%;
			// transform: translateY(-50%);
		}
		.cta {
			text-transform: uppercase;
			font-size:12px;
		}
	}
}

.footernav {
	background-color:#160527;

	a {
		color:#FFF;
	}
}
.footernav .grid {
	.whitepaper {
		nav > ul > li {
			a {
				font-family: 'Roboto';
				background-color: transparent;
				text-decoration: none;
				color: #FFF;

				&:hover {
					background-color:#EEE;
				}
			}
			> a {
				border:0px solid #000;
				padding:10px 20px;
				box-shadow: none;
			}
		}
	}
}
.wrapper.footer {
	background-image:url(/assets/particles/orb.png);
	background-repeat: no-repeat;
	background-position: bottom -100px right -40px;
	background-color:#160527;
	color:#FFF;
	
	h3 {
		color:#FFF;
		text-align: center;
		font-size:18px; 
		line-height: 24px;
		text-transform: uppercase;
	}
	
	p {
		color:#FFF;
	}
}
.wrapper.footerlinks {
	padding-top:10px; padding-bottom:10px;
	background-color:#0F031C;
	color:#FFF;
	.footer-logo img {
		color:#FFF;
		fill:#FFF;
		max-width: 35px;
	}

	@include md-max {
		.grid > div {
			grid-column: span 6;
		}
		.grid > div:first-child {
			grid-column: span 12;
		}
	}
	h3 {
		font-size: 20px;
		color:#FFF;
	}
	ul {
		margin-top:0;
		padding-left:0;
	}
	ul li {
		list-style:none;
	}
}
    .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
    }
    
    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }
    
    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        transition: 1s all;
        filter: brightness(35%);
        // pointer-events:none;
    }
    
    .youtube-player:hover img {
        filter: brightness(80%);
    }
    .youtube-player .play::before {
    	content:'';
    	font-size:41px;
    	line-height: 69px;
    	padding:0;
    	padding-left:2px;
    	color:#FFF;
        height: 80px;
        width: 80px;
        // border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("/assets/play.png") no-repeat;
        cursor: pointer;
    }
.wrapper .grid .get-involved {
	grid-column: span 12;
}
@import "components/header";
@import "pages/homepage";