---
layout: default

v:
  general:
      otskeys: 8192
      qrlinstall: pip3 install -U qrl

---

<div class="wrapper docs docs-single">
	<div class="grid w12">
		<div class="w12">
			<p>Head back to <a href="/">Documentation</a></p>
			<h1>Documentation</h1>

		  {% if page.title %}
		    <h2 class="page-heading">{{ page.title }}</h2>
		  {% endif %}

		  <div class="grid no-padding docgrid">
		  		<div class="w8 document-page">
				  {{ content }}		  			
		  		</div>
		  		<div class="w4">
		  			<div class="floatmenu">
						<nav>
						<ul id="stickymenu">
						</ul>
						</nav>
						<p>Still stuck? There's help over on <a class="cta" href="https://discord.gg/zcGhKpy" target="_blank">Discord! <simple-svg data-icon="mdi-discord"></simple-svg></a></p>	
		  			</div>
		  		</div>
		
		  </div>
		</div>		
	</div>
</div>

<script>
$(function() {

	$('.document-page h2, .document-page h3').each(function(el, i) {
		var title = this.innerHTML;

		$(this).html('<a href="#'+this.id+'">'+title + '</a>');

		$('#stickymenu').append('<li><a href="#'+this.id+'">'+title +'</a>');
		$('#stickymenu').append('</li>');
	});
})
</script>
