---
layout: default
---
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-tubeplayer/2.1.0/jquery.tubeplayer.min.js"></script>

<div class="wrapper docs">
	<div class="grid w12">
		<div class="w12">
			<p>Head back to <a href="/">Documentation</a></p>
			<h1>Documentation</h1>

		  {% if page.title %}
		    <h2 class="page-heading">{{ page.title }}</h2>
		  {% endif %}

		  <div class="grid no-padding docgrid" id="watch">
		  		<div class="w8 document-page">

				  {{ content }}		  			
		  		</div>
		  		<div class="w4">
		  			<div class="floatmenu">
						<nav>
						<ul id="stickymenu">
						</ul>
						</nav>
						<p>Still stuck? There's help over on <a class="cta" href="https://discord.gg/zcGhKpy" target="_blank">Discord! <simple-svg data-icon="mdi-discord"></simple-svg></a></p>	
		  			</div>
		  		</div>
		
		  </div>
		</div>		
	</div>
</div>

<script>
$(function() {

	// For each .ytvideo...
	$('.ytvideo').each(function() {
		// Grab the video ID
		var videoid = $(this).data('video');
		var video_duration = 0;




		var player = $(this).tubeplayer({
			initialVideo: videoid,
	        onPlayerLoaded: function(){
				var ratio = this.find('iframe').outerWidth() / this.find('iframe').outerHeight();
				var video = this;

				video.find('iframe').width(video.outerWidth());
				video.find('iframe').height(video.outerWidth() / ratio);
				video.css({'opacity':'1'});

				$(window).on('resize', function() {
					video.find('iframe').width(video.outerWidth());
					video.find('iframe').height(video.outerWidth() / ratio);
					video.show();
				});




				video_duration = this.tubeplayer("data").duration;

				var time = []; 
				$('h2[data-video='+videoid+']').each(function(i, el) {
					time.push($(this).data('time'));
				});

				$('h2[data-video='+videoid+']').each(function(i, el) {
					var time_end = 0;

					if($(this).siblings('h2[data-video='+videoid+']').length==i) {
						time_end = video_duration;
					} else {
						time_end = time[i+1];

					}
					this.setAttribute("data-timeend", time_end);
				});


				setInterval(function() {
					var currentTime = player.tubeplayer("data").currentTime.toFixed(2);

					$('[data-video='+videoid+']').each(function(i, el) {
						if(currentTime>$(this).data('time') && currentTime<$(this).data('timeend')) {
							$(this).addClass('active');
						} else {
							$(this).removeClass('active');
						}
					});
					// $('a[data-video='+videoid+']').each(function(i, el) {
					// 	if(currentTime>$(this).data('time') && currentTime<$(this).data('timeend')) {
					// 		$(this).addClass('active');
					// 	} else {
					// 		$(this).removeClass('active');
					// 	}
					// });

					// window.location.hash = '#watch:'+currentTime;
				},500);
				if(window.location.hash) {
					var hash = window.location.hash;
					var video_start = parseInt(window.location.hash.split(':')[1]);
					video.tubeplayer("seek",video_start);
					window.location.hash=window.location.hash.split(':')[0];
					window.location.hash=hash;
				}
				$('.document-page h2').each(function(i, el) {
					var title = this.innerHTML;

					$(this).html('<a href="#watch">'+title + '</a>');
					$('#stickymenu').append('<li><a data-video='+$(this).data("video")+' data-time='+$(this).data("time")+' data-timeend='+$(this).data("timeend")+' href="#watch:'+$(this).data("time")+'">'+title +'</a></li>');
				});
				$('[data-time]').on('click', function(e) {
					e.preventDefault();
					window.location.hash = '#watch';
					window.location.hash = '#watch:'+$(this).data('time');
					video.tubeplayer("seek",$(this).data('time'));
				});
	        }
		});
	});





});
</script>
<style>
.ytvideo {
	opacity:0;
	/*display: none;*/
}
h2 + div {
	display:none;
}
h2.active + div {
	display:block;
}
</style>